body{
    margin-top: 0;
    padding: 0;
    background-color: black;
    color: white;
}
.container-main-movie{
    width: 90%;
    height: 650px;
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
    font-size: 80px;
    text-align: center;
}
.container-image-main{
    width: 30%;
    height: 100%;
    border: rgb(30,30,30) 2px solid;
}
.container-description-main{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.btn-play{
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    border-radius: 20px;
    background-color: rgb(233, 81, 81);
    font-size: 30px;
}
.container-movie{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.box-movie{
    width: 13.5%;
    height: 350px;
}
header{
    background-color: grey;
    font-size: 40px;
    margin: 0px;
    padding: 7px;
    display: flex;
}
header p{
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
h1{
    padding-left: 100px;
    padding-bottom: 20px;
    margin: 0;
    font-size: 35px;
}
.box-movie p{
    margin: 0;
    padding: 0;
}
.image-movie{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.image-main{
    width: 100%;
    height: 100%;
}
.caroussel{
    display: flex;
    width: 100%;
}
.container-btn{
    width: 6%;
    padding-left: 5px;
    padding-right: 5px;
}
.btn-caroussel{
    width: 100%;
    height: 100%;
}
section{
    margin-top: 25px;
    margin-bottom: 30px;
}

.btn-caroussel{
    background-color: black;
    color: white;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    display: none;
    border-radius: 20px;
}
.btn-caroussel img{
    width: 100%;
}
.btn-caroussel:hover{
    background-color: rgb(30,30,30);
}
section:hover .btn-caroussel {
    display: inline-block;
}

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 50%; 
    height: 600px;
}
.modal-grid{
    display: grid;
    width: 100%;
    height: 100%;
    overflow: auto;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 1fr 1fr 2fr 2fr;
}
.box-img{
    grid-row-start: 2;
    grid-row-end: 5;
    width: 100%;
}
.box-img img{
    width: 100%;

}
.box-title{
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 60px;
    text-align: center;
}
.box-group-one{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;
}
.box-group-two{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
}
.box-synopsis{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
}
.box-button{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal strong{
    color: lightgray;
    text-decoration: underline;
}
.modal p{
    display: inline;
}
.box-group-one, .box-group-two{
    padding-left: 20px;
    padding-right: 20px;
}
.modal-box{
    padding-bottom: 15px;
}